@page "/"

<div class="flex w-full items-center justify-center">
    <button id="openbtn" class="rounded border bg-blue-500 px-2 py-1 font-bold uppercase text-white">APRI CONNESSIONE</button>
    <button id="closebtn" class="rounded border bg-blue-500 px-2 py-1 font-bold uppercase text-white">CHIUDI CONNESSIONE</button>
</div>

<div class="m-3 flex flex-col justify-center gap-3">
    <input id="chatbox" class="border px-1">
    <button id="btn" class="rounded border bg-blue-500 px-2 py-1 font-bold uppercase text-white">Invia</button>
</div>
<div id="messages"></div>


<script>
    const socket = new WebSocket('ws://localhost:1433/');
    
    // create an alert on ws error
    socket.onerror = function(event){
        alert("[ERRORE] errore durante la connessione");
    }

    // function that close the connection 
    document.getElementById("closebtn").addEventListener("click", function () {
        socket.close();
        console.log("connesione chiusa");
        alert("[CLOSE] connessione chiusa");
    });

    socket.onmessage = function (event) {
        const messages = document.getElementById("messages");
        messages.innerHTML += `<p>${event.data}</p>`;
    };

    document.getElementById("btn").addEventListener("click", function (event) {
        // take the value of chatbox input
        let text = document.getElementById("chatbox").value;
        socket.send(text);
        document.getElementById("chatbox").value = "";
    });

    // Connection opened
    socket.addEventListener("open", (event) => {
        console.log("connesione aperta default")
    });

    

    // Listen for messages
    socket.addEventListener("message", (event) => {
        console.log("Messaggio ricevuto ", event.data);
    });

    // when closing the page close the connection to the ws 
    window.onbeforeunload = function () {
        socket.close();
        alert("[CLOSING] chiusura connessione...")
    };
</script>